/* Header */

.header {
  height: 100px;
  display: flex;
  align-items: center;
  color: black;
  background-color: #a997b9;
  padding: 20px;
}
.header img {
  height: 100%;
  margin-right: 10px;
}

.header h3 {
  font-size: 2rem;
}

/* Form to get Image */

.main {
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  text-align: center;
}

.form--input {
  padding: 15px;
  margin-right: 10px;
  width: 30vw;
  border: 1px black solid;
  border-radius: 5px;
}

.form--button {
  padding: 15px;
  margin-top: 25px;
  width: 50vw;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a997b9;
  border: none;
}

/* Image  */

.meme {
  margin-top: 25px;
  height: 300px;
  position: relative;
  text-align: center;
}

.meme--image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.meme--image[src] {
  border: 1px solid #0aede3;
}

.meme-text {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.top {
  top: 10px;
}

.bottom {
  bottom: 10px;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cee5eb;
  padding: 10px;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer li {
  margin: 0 10px;
}

.footer li:first-child {
  margin-left: 0;
}

.footer li:last-child {
  margin-right: 0;
}

.footer li a {
  color: #333;
  text-decoration: none;
}

.footer li a:hover {
  color: blue;
  cursor: pointer;
  font-weight: 600;
}
